/node_modules
/storage
/storage/logs/laravel.log
/public/hot
/public/storage
/public/sample_output.pdf
/public/prints_output.pdf
/storage/*.key
/vendor
.htaccess
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log

