<style>
    body,
    html {
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 0;
      background: #fbfbfb !important;
    }

    .searchbar {
      margin-top: 50px;
      height: 60px;
      background-color: #353b48;
      border-radius: 30px;
      padding: 10px;
    }

    .search_input {
      color: white;
      border: 0;
      outline: 0;
      background: none;
      width: 0;
      caret-color: transparent;
      line-height: 40px;
      transition: width 0.4s linear;
    }

    .searchbar:hover>.search_input {
      padding: 0 10px;
      width: 300px;
      caret-color: red;
      transition: width 0.4s linear;
    }

    input:focus {
      padding: 0 10px;
      width: 300px;
      caret-color: red;
      transition: width 0.4s linear;
    }

    .searchbar:hover>.search_icon {
      background: white;
      color: #e74c3c;
    }

    .search_icon {
      height: 40px;
      width: 40px;
      float: right;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: white;
      text-decoration: none;
    }

    body {
      background: #E0E0E0;
    }

    .details {
      border: 1.5px solid grey;
      color: #212121;
      width: 100%;
      height: auto;
      box-shadow: 0px 0px 10px #212121;
    }


    .card {
      width: fit-content;
    }

    .card-body {
      width: fit-content;
    }

    .btn {
      border-radius: 0;
    }

    .img-thumbnail {
      border: none;
    }

    .card {
      box-shadow: 0 20px 40px rgba(0, 0, 0, .2);
      border-radius: 5px;
      padding-bottom: 10px;
    }
  </style>